@import url(//db.onlinewebfonts.com/c/bbca39468eac0e25e8a650379b25ee76?family=Alright+Sans+Regular);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, sans-serif;
}
/* Section size customize */
.section-full {
    height: 100vh;
}

/* customize color & Font */
.text-align-justify{
    text-align: justify;
}
.text-dark{
    color: #000000;
}
.text-light{
    color: #fefefc;
}
.text-dark-green{
    color: #016442;
}
/*  Background Customize    */
.bg-gradient-green{
    background: rgb(107,220,44);
    background: linear-gradient(90deg, rgba(107,220,44,1) 0%, rgba(58,255,13,1) 50%);
}
.bg-green{
    background: #3aff00;   
}
.bg-img{
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-full{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-1{
    background-image: url("/src/img/Leaves.png");    
}
.img-2{
    background-image: url("/src/img/produk/jusBawangPutih1.jpg");  
}
.img-3{
    background-image: url("/src/img/produk/keringKentang1.jpeg");    
}
.img-4{
    background-image: url("/src/img/produk/lumpia1.jpg");    
}
.img-5{
    background: url("/src/img/hiasan.png");
}     
.bg-attachment-fixed{
    background-attachment: fixed;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 40%;
    right: 50%;
}

.btn{
    padding: .7rem 1.75rem;
}
#btn-order{
    padding: .5rem 2.5rem;
}
.btn-wa{
    width: 20%;
}

.card-title h3{
    font-size: 2vw;
    font-family: 'Alright Sans Regular' sans-serif ;
}
.card-text p{
    font-size: 1.3vw;
    font-family: 'Alright Sans Regular' sans-serif ;
}

.top-20{
    top: 20vh;
}

.rounded-border{
    border-radius: 64px;
}

@media screen and (max-width: 450px){
    .vertical-center{
        height: 100vh;
        position: static;
        text-align: center;
        padding-top: 65vh;
    }
    h3{
        font-size: 1.3rem;
        margin: auto;
        text-align: center;
    }
    p{
        font-size: .75rem;
    }
    .btn-wa{
        width: 50%;
    }
    .top-20{
        top: 10vh;
    }
}

@media screen and (max-width: 768px){
    .carousel-item{
        max-height: 85vh;
    }
    .content{
        order: 2;
    }
    .product-image{
        height: 30vh;
        order: 1;
    }
    .bg-img-2, .bg-img-3{
        height: 40vh;
    }
    .caption{
        height: 27vh;
        overflow-y: scroll;
    }
}


