@import url(//db.onlinewebfonts.com/c/bbca39468eac0e25e8a650379b25ee76?family=Alright+Sans+Regular);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, sans-serif;
}
h3{
    font-weight: bold;
}
/* Section size customize */
.section-full {
    height: 100vh;
}

/* customize color & Font */
.text-align-justify{
    text-align: justify;
}
.text-dark{
    color: #000000;
}
.text-light{
    color: #fefefc;
}
.text-dark-green{
    color: #016442;
}
.bg-gradient-green{
    background: rgb(107,220,44);
    background: linear-gradient(90deg, rgba(107,220,44,1) 0%, rgba(58,255,13,1) 50%);
}
.bg-green{
    background: rgb(58,255,13,1);    
}

.bg-img-1{
    height: 100vh;
    background-image: url("/src/img/Leaves.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-1 .container{
    height: 100vh;
    position: relative;
}
.bg-img-2{
    height: 80vh;
    background-image: url("/src/img/produk/jusBawangPutih1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 40%;
    right: 50%;
}

.btn{
    padding: .75rem 2rem;
}
#btn-order{
    padding: 0.5rem 64px;
}

.card-title h3{
    font-size: 2vw;
    font-family: 'Alright Sans Regular' sans-serif ;
}
.card-text p{
    font-size: 1.3vw;
    font-family: 'Alright Sans Regular' sans-serif ;
}



@media screen and (max-width: 450px){
    .vertical-center{
        position: relative;
        right: 0%;
        top: 35%; 
    }
    h1{
        text-align: center;
    }
    #hero-button{
        position: absolute;
        left: 25vw;
    }
    p{
        font-size: .75rem;
    }
}


